@media (max-width: 1032px) {
  header {
    nav.social a {
    font-size: 3em;
    }
  }
}

@media (max-width: 975px) {
  main {
    section.skaters {
      position: relative;
      figure.skaters-left {
        @include span-columns(12);
        div.skaters-top {
          @include span-columns(6 of 12);
          width: 100%;
          figure.skater1 {
            @include span-columns(3 of 6);
            background-position: initial;
            background-size: cover;
            p {
              margin: 80px 0;
            }
          }
          figure.skater2 {
            @include span-columns(3 of 6);
            background-size: cover;
            p {
              margin: 80px 0;
            }
          }
        }
        figure.skater3 {
          @include span-columns(3 of 6);
        }
    }
    figure.skater4 {
      position: absolute;
      top: 242px;
      left: 51%;
      float: right;
      clear:both;
      height: 232px;
      @include span-columns(3 of 6);
      p {
        margin: 80px auto;
      }
    }
   }
  }
}

@media (max-width: 907px) {
  div.wrapper {
    margin: 0 10%;
  }
  header {
    a.subscribe,
    a.ellipsis {
      font-size: .8em;
    }
    nav.social a {
    font-size: 2em;
    padding-top: 10px;
    padding-right: 0;
    }
    nav.main {
      font-size: .8em;
      a {
        padding: 10px 0;
      }
    }
  }
  main section.skaters {
    p {
      font-size: 2em;
    }
    figure.skaters-left {
    figure.skater1 {
      @include span-columns(3 of 6);
      p {
        margin: 80px auto;
      }
    }
    figure.skater2 {
      @include span-columns(3 of 6);
      @include omega;
      p {
        margin: 80px auto;
      }
    }
  }
    figure.skater4 {
      left: 52.5%;
    }
  }
}

@media (max-width: 818px) {
  main {
  section.articles {
    @include span-columns(12);
    article {
      padding: 10px 30px;
      margin: 10px 0;
      @include span-columns(12 of 12);
      button {
        display: block;
        margin: 0 auto;
        padding: 0 0 10px 0;
      }
    }
  }
  }

  footer {
    @include span-columns(12);
    section.contact {
      @include span-columns(12 of 12);
      width: 100%;
      text-align: center;
      nav.footer {
        text-align: center;
      }
    }
    section.form {
      @include span-columns(12 of 12);
      width: 100%;
      form.subscribe {
      input.submit {
        float: none;
        margin: 0 auto;
      }
      }
    }
  }
}

@media (max-width: 687px) {
  header {
    a.subscribe {
      @include span-columns(11 of 12);
      text-align: left;
      margin-right: 0;
    }
    a.ellipsis {
      @include span-columns(1 of 12);
      margin-right: 0;
      font-size: 1.5em;
      line-height: 80px;
      text-align: right;
      float: right;
      clear: none;
    }
    nav.social {
      @include span-columns(12);
      margin-right: 0;
      text-align: center;
    }
    nav.main {
      a {
        @include span-columns(6 of 12);
        float: none;
        margin: 10px auto;

        &:last-child {
          margin-right:auto;
        }
      }
    }
  }
main {
  section.skaters {
    p {
      font-size: 1.5em;
    }
  }

  section.boards {
    @include span-columns(12);
    img {
      width: 68px;
      @include span-columns(1 of 5);

      &:nth-child(5) {
        @include omega;
      }
      &:nth-child(6) {
        clear:both;
      }
    }
  }
  }
}

@media (max-width: 484px) {
  main {
    section.skaters {
      position: relative;
      figure.skaters-left {
        @include span-columns(12);
          figure.skater1 {
            @include span-columns(12);
          }
          figure.skater2 {
            @include span-columns(12);
            @include omega;
          }
          figure.skater3 {
            @include span-columns(12);
            @include omega;
            clear: both;
            margin-top: 10px;
            margin-bottom: 250px;
          }
        }
        figure.skater4 {
          @include span-columns(12);
          top: 725px;
          left: 0px;
        }
      }
    }
}
