// @import '../bower_components/normalize.css/normalize';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

@import "_variables.scss";
// @import "_fonts.scss";

* {
  box-sizing: border-box;
}

div.wrapper {
  @include outer-container(100%);
  margin: 0 10%;
}

body {
  font-size: 10px; /*do not change*/
  font-family: 'Helvetica';
  background: url('../images/bg.jpg');
  a {
    text-decoration: none;
  }
header {
  @include span-columns(12);
  a.subscribe {
    color: white;
    padding-left: 500px;
    padding-top: 50px;
    line-height: 80px;
  }
  nav.social {
    float: right;
    padding: 10px 0;
    a {
      font-size: 5.5em;
      padding: 2px;
      opacity: .9;
      &:hover {
        font-size: 6em;
      }
    }
    a:nth-child(1) {
      color: $facebook;
    }
    a:nth-child(2) {
      color: $rss;
    }
    a:nth-child(3) {
      color: $twitter;
    }
    a:nth-child(4) {
      color: $red;
    }
  }
  nav.main {
    @include span-columns(12);
    text-align: center;
    a {
      @include span-columns(3 of 12);
      background: $red;
      color: white;
      padding: 10px;
      font-size: 1.5em;
      margin-top: 10px;
    }
  }
 }
}

main {
  section.hero {
    @include span-columns(12);
    border: 10px solid $white;
    margin-top: 20px;
    div.guy {
      @include span-columns(12);
      @include omega();
      background: url('../images/top-image.png');
      background-position: -200px -150px;
      // padding: 40px;
      position: relative;

    }
    div.grid {
      background-image: url('../images/grid.png');
      position: absolute;
      height: 100%;
      opacity: .4;
      background-repeat: repeat-y;
      background-size: cover;
      // z-index: 8;
      @include span-columns(12);
      @include omega;
    }
    div.guy img {
      @include span-columns(5 of 12);
      margin: 34px;
      // z-index: 999;
      // padding: 10px 70px 10px 10px;
      position: relative;
      }
  }

  section.articles {
    margin: 50px 0;
    @include span-columns(12);
    article {
      padding: 10px 30px;
      @include span-columns(4 of 12);
      background: $grain;
      h2 {
        font-size: 2em;
        font-weight: 400;
      }
      p.date {
        color: gray;
      }
      p.story {
        font-size: 1.2em;
        line-height: 1.8em;
      }
      button {
        color: $red;
        border: none;
        background: none;
        font-size: 1.3em;
        font-weight: 800;
        text-align: center;
        padding-left: 70px;
      }
    }
  }
  section.skaters {
    @include span-columns(12);
    margin-bottom: 50px;
    p {
      color: white;
      font-size: 4.5em;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }
    figure.skaters-left {
      @include span-columns(8 of 12);
      @include omega();
      margin: 0 auto;
      div.skaters-top {
        @include span-columns(8 of 12);
        width: 100%;
        margin: 0 auto 10px;
        text-align: center;
        figure.skater1 {
          float: left;
          @include span-columns(4 of 8);
          background: url('../images/sk8er-4.png');
          background-position: -130px;
          background-repeat: no-repeat;
          display: inline-block;
          margin: 0 auto;
          border: 5px solid white;
          margin-right: 23px;
          p {
            margin: 50px auto;
          }
        }
        figure.skater2 {
          float:left;
          @include span-columns(4 of 8);
          @include omega();
          background: url('../images/sk8er-3.png');
          background-repeat: no-repeat;
          background-position: 0px;
          display: inline-block;
          margin: 0;
          border: 5px solid white;
          p {
            margin: 50px auto;
          }
        }
      }
      figure.skater3 {
        background: url('../images/sk8er-1.png');
        background-position: 0px;
        background-repeat: no-repeat;
        margin: 0;
        border: 5px solid white;
        @include omega();
        clear: both;
        p {
          // padding: 90px 0;
          margin: 75px auto;
        }
      }
    }
    figure.skater4 {
      @include span-columns(4 of 12);
      @include omega();
      float: right;
      margin: 0;
      background: url('../images/sk8er-2.png');
      background-repeat: no-repeat;
      background-position: -400px;
      border: 5px solid white;
      p {
        margin: 160px 0;
      }
    }
  }
  section.boards {
    @include span-columns(12);
    background: white;
    padding: 10px 30px 20px;
    img {
      @include span-columns(1 of 10);
    }
  }
}

footer {
  @include span-columns(12);
  background: white;
  margin: 30px auto;
  section.contact {
    @include span-columns(6 of 12);
    padding: 30px;
    h2 {
      margin-top: 0;
      font-size: 2.4em;
      font-weight: 400;
    }
    p {
      color: $dark-gray;
      font-size: 1.3em;
      line-height: 1.7em;
    }
    nav.footer {
      a {
        font-size: 2.5em;
      }
      a:nth-child(1) {
        color: $facebook;
      }
      a:nth-child(2) {
        color: $rss;
      }
      a:nth-child(3) {
        color: $twitter;
      }
      a:nth-child(4) {
        color: $red;
      }
      a:nth-child(1) {
        color: $facebook;
      }
      a:nth-child(2) {
        color: $rss;
      }
      a:nth-child(3) {
        color: $twitter;
      }
      a:nth-child(4) {
        color: $red;
      }
    }
  }
  section.form {
    @include span-columns(6 of 12);
    padding: 30px;
    margin: 0 auto;
  }
}
