html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@media (max-width: 1032px) {
  header nav.social a {
    font-size: 3em; } }

* {
  box-sizing: border-box; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

div.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  div.wrapper::after {
    clear: both;
    content: "";
    display: table; }

body {
  font-family: 'Helvetica';
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  font-family: 'FontAwesome'; }
  body a {
    text-decoration: none; }

div.skateboarders {
  float: left; }
  div.skateboarders p {
    color: white;
    background: #B4292E;
    float: left;
    font-size: 1.5em;
    padding: 25px 5px;
    margin-top: 30px; }
  div.skateboarders p.fa {
    color: #B4292E;
    background: none;
    font-size: 8em;
    margin-top: 5px;
    padding-left: 0;
    padding-top: 0;
    position: absolute; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }
  header a.subscribe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    color: white;
    line-height: 80px;
    text-align: right;
    transition: color 0.5s ease; }
    header a.subscribe:last-child {
      margin-right: 0; }
    header a.subscribe:hover {
      color: #B4292E;
      transition: color 0.5s ease; }
  header a.ellipsis {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 3.61321%;
    color: white;
    font-size: 1.5em;
    line-height: 80px;
    text-align: right; }
    header a.ellipsis:last-child {
      margin-right: 0; }
  header nav.social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 25.7907%;
    float: right;
    padding: 10px 0;
    margin-right: 0;
    text-align: right; }
    header nav.social:last-child {
      margin-right: 0; }
    header nav.social a {
      font-size: 3.9em;
      padding: 2px 5px;
      opacity: .9;
      text-shadow: 1px 2px rgba(250, 250, 250, 0.4);
      transition: background-color 400ms linear, padding 400ms linear, border-radius 400ms ease, text-shadow 400ms ease; }
      header nav.social a:hover {
        background-color: rgba(250, 250, 250, 0.7);
        padding: 0;
        border-radius: 5px;
        text-shadow: none;
        transition: background-color 400ms linear, padding 400ms linear, border-radius 400ms ease, text-shadow 400ms ease; }
    header nav.social a:nth-child(1) {
      color: #3B599A; }
    header nav.social a:nth-child(2) {
      color: #ff7900; }
    header nav.social a:nth-child(3) {
      color: #00aced; }
    header nav.social a:nth-child(4) {
      color: #B4292E; }
  header nav.main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    header nav.main:last-child {
      margin-right: 0; }
    header nav.main a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      background: #B4292E;
      color: white;
      padding: 10px;
      font-size: 1em;
      margin-top: 10px;
      box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4);
      transition: background-color 0.3s linear 0.1s, color 0.3s linear 0.1s, border 0.3s linear 0.1s, padding 0.3s linear 0.1s; }
      header nav.main a:last-child {
        margin-right: 0; }
      header nav.main a:hover {
        background-color: rgba(250, 250, 250, 0.8);
        box-sizing: border-box;
        padding: 5px;
        color: #B4292E;
        border: 3px solid #B4292E;
        transition: background-color 0.3s linear 0.1s, color 0.3s linear 0.1s, border 0.3s linear 0.1s, padding 0.3s linear 0.1s; }

main section.hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 10px solid #F5F5F5;
  margin-top: 20px;
  box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4); }
  main section.hero:last-child {
    margin-right: 0; }
  main section.hero div.guy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    background: url("../images/top-image.png");
    background-position: -200px -150px;
    position: relative; }
    main section.hero div.guy:last-child {
      margin-right: 0; }
  main section.hero div.grid {
    background-image: url("../images/grid.png");
    position: absolute;
    height: 100%;
    opacity: .4;
    background-repeat: repeat-y;
    background-size: cover;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    main section.hero div.grid:last-child {
      margin-right: 0; }
  main section.hero div.guy img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin: 34px;
    position: relative; }
    main section.hero div.guy img:last-child {
      margin-right: 0; }

main div.dots {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  padding: 30px 0; }
  main div.dots:last-child {
    margin-right: 0; }
  main div.dots div.fa-dot-circle-o {
    color: white;
    text-shadow: 0px 3px rgba(250, 250, 250, 0.3); }
  main div.dots div.fa-circle {
    color: white;
    size: 1.5em;
    text-shadow: 0px 3px rgba(250, 250, 250, 0.3); }

main section.articles {
  margin: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main section.articles:last-child {
    margin-right: 0; }
  main section.articles article {
    padding: 10px 30px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background: #F9F9F9;
    box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4); }
    main section.articles article:last-child {
      margin-right: 0; }
    main section.articles article h2 {
      font-size: 1.4em;
      font-weight: 400; }
    main section.articles article p.date {
      color: gray;
      font-size: .86em; }
    main section.articles article p.story {
      font-size: .86em;
      line-height: 1.8em; }
    main section.articles article button {
      color: #B4292E;
      border: none;
      background: none;
      font-size: 0.93em;
      font-weight: 800;
      text-align: center;
      padding-left: 70px;
      transition: font-size 0.5s ease; }
      main section.articles article button:hover {
        font-size: 1em;
        transition: font-size 0.5s ease; }

main section.skaters {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 50px 0;
  overflow: auto; }
  main section.skaters:last-child {
    margin-right: 0; }
  main section.skaters p {
    color: white;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }
  main section.skaters figure.skaters-left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin: 0 auto; }
    main section.skaters figure.skaters-left:last-child {
      margin-right: 0; }
    main section.skaters figure.skaters-left div.skaters-top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      width: 100%;
      margin-bottom: 10px;
      text-align: center; }
      main section.skaters figure.skaters-left div.skaters-top:last-child {
        margin-right: 0; }
      main section.skaters figure.skaters-left div.skaters-top figure.skater1 {
        float: left;
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        background: url("../images/sk8er-4.png") no-repeat -100px;
        display: inline-block;
        margin: 0 auto;
        border: 5px solid white;
        margin-right: 23px;
        box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4);
        transition: background-image 1s ease, border-color 0.5s ease; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater1:last-child {
          margin-right: 0; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater1:hover {
          background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(0, 0, 0, 0.8)), url("../images/sk8er-4.png") no-repeat -100px;
          border-color: #B4292E;
          transition: background 1s ease, border-color 0.5s ease, text-shadow 0.5s ease; }
          main section.skaters figure.skaters-left div.skaters-top figure.skater1:hover p {
            text-shadow: 1px 3px rgba(180, 41, 46, 0.8);
            transition: text-shadow 0.5s ease; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater1 p {
          margin: 50px auto; }
      main section.skaters figure.skaters-left div.skaters-top figure.skater2 {
        float: left;
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        margin-right: 0;
        background: url("../images/sk8er-3.png") no-repeat 0px;
        display: inline-block;
        margin: 0;
        box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4);
        border: 5px solid white;
        transition: background-image 1s ease, border-color 0.5s ease; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater2:last-child {
          margin-right: 0; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater2:hover {
          background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(0, 0, 0, 0.8)), url("../images/sk8er-3.png") no-repeat 0px;
          border-color: #B4292E;
          transition: background-image 1s ease, border-color 0.5s ease, text-shadow 0.5s ease; }
          main section.skaters figure.skaters-left div.skaters-top figure.skater2:hover p {
            text-shadow: 1px 3px rgba(180, 41, 46, 0.8);
            transition: text-shadow 0.5s ease; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater2 p {
          margin: 50px auto; }
    main section.skaters figure.skaters-left figure.skater3 {
      margin-right: 0;
      background: url("../images/sk8er-1.png") no-repeat 0px;
      background-size: 50em 25em;
      margin: 0;
      border: 5px solid white;
      box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4);
      clear: both;
      transition: background-image 1s ease, border-color 0.5s ease; }
      main section.skaters figure.skaters-left figure.skater3:hover {
        background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(0, 0, 0, 0.8)), url("../images/sk8er-1.png") no-repeat 0px;
        border-color: #B4292E;
        background-size: 50em 25em;
        transition: background-image 1s ease, border-color 0.5s ease, text-shadow 0.5s ease; }
        main section.skaters figure.skaters-left figure.skater3:hover p {
          text-shadow: 1px 3px rgba(180, 41, 46, 0.8);
          transition: text-shadow 0.5s ease; }
      main section.skaters figure.skaters-left figure.skater3 p {
        margin: 80px auto; }
  main section.skaters figure.skater4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    float: right;
    margin: 0;
    background: url("../images/sk8er-2.png") no-repeat -400px;
    border: 5px solid white;
    box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4);
    transition: background-image 1s ease, border-color 0.5s ease; }
    main section.skaters figure.skater4:last-child {
      margin-right: 0; }
    main section.skaters figure.skater4:hover {
      background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(0, 0, 0, 0.8)), url("../images/sk8er-2.png") no-repeat -400px;
      border-color: #B4292E;
      transition: background 1s ease, border-color 0.5s ease, text-shadow 0.5s ease; }
      main section.skaters figure.skater4:hover p {
        text-shadow: 1px 3px rgba(180, 41, 46, 0.8);
        transition: text-shadow 0.5s ease; }
    main section.skaters figure.skater4 p {
      margin: 170px 0; }

main section.boards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: white;
  padding: 10px 30px 20px;
  box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4); }
  main section.boards:last-child {
    margin-right: 0; }
  main section.boards p {
    color: #B4292E;
    text-align: left;
    position: absolute;
    margin-left: -15px;
    margin-top: 40px;
    display: none; }
  main section.boards img {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 7.44167%;
    border-radius: 90px;
    transition: transform 0.2s ease, border 0.5s ease; }
    main section.boards img:last-child {
      margin-right: 0; }
    main section.boards img:hover {
      transform: rotate(-90deg);
      transform-origin: center;
      border: 2px inset #B4292E;
      transition: transform 1s ease, border 1s ease; }

main section.skaters-m {
  display: none; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: white;
  margin: 30px auto 80px;
  box-shadow: 0px 4px 0px rgba(250, 250, 250, 0.4); }
  footer:last-child {
    margin-right: 0; }
  footer section.contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 30px;
    margin-right: 0; }
    footer section.contact:last-child {
      margin-right: 0; }
    footer section.contact h2 {
      margin-top: 0;
      font-size: 1.7em;
      font-weight: 400; }
    footer section.contact p {
      color: #5D5D5D;
      font-size: 0.93em;
      line-height: 1.8em; }
    footer section.contact nav.footer {
      padding-top: 20px; }
      footer section.contact nav.footer a {
        font-size: 2.1em;
        transition: color 0.5s ease;
        opacity: .9; }
        footer section.contact nav.footer a:hover {
          transition: color 0.5s ease; }
      footer section.contact nav.footer a:nth-child(1) {
        color: #494949; }
        footer section.contact nav.footer a:nth-child(1):hover {
          color: #3B599A; }
      footer section.contact nav.footer a:nth-child(2) {
        color: #A1A1A1; }
        footer section.contact nav.footer a:nth-child(2):hover {
          color: #ff7900; }
      footer section.contact nav.footer a:nth-child(3) {
        color: #737373; }
        footer section.contact nav.footer a:nth-child(3):hover {
          color: #00aced; }
      footer section.contact nav.footer a:nth-child(4) {
        color: #737373; }
        footer section.contact nav.footer a:nth-child(4):hover {
          color: #B4292E; }
  footer section.form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 30px;
    margin: 0 auto;
    overflow: auto;
    float: right; }
    footer section.form:last-child {
      margin-right: 0; }
    footer section.form form.subscribe {
      margin-right: 0; }
      footer section.form form.subscribe textarea {
        height: 100px;
        border-color: #A1A1A1;
        border-top: 2px inset;
        border-left: 2px inset; }
    footer section.form input,
    footer section.form textarea {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 8px;
      margin: 10px; }
      footer section.form input:last-child,
      footer section.form textarea:last-child {
        margin-right: 0; }
      footer section.form input:focus,
      footer section.form textarea:focus {
        outline-color: #5D5D5D; }
    footer section.form input.submit {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      float: right;
      background: #B4292E;
      border: none;
      color: #fff;
      font-size: 1em;
      font-weight: 300;
      transition: background 0.5s ease; }
      footer section.form input.submit:last-child {
        margin-right: 0; }
      footer section.form input.submit:hover {
        background: rgba(250, 0, 0, 0.4);
        transition: background 0.5s ease; }

@media (max-width: 1032px) {
  header nav.social a {
    font-size: 3em; } }

@media (max-width: 975px) {
  main section.skaters figure.skaters-left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    main section.skaters figure.skaters-left:last-child {
      margin-right: 0; }
    main section.skaters figure.skaters-left div.skaters-top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      width: 100%; }
      main section.skaters figure.skaters-left div.skaters-top:last-child {
        margin-right: 0; }
      main section.skaters figure.skaters-left div.skaters-top figure.skater1 {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 47.58542%; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater1:last-child {
          margin-right: 0; }
      main section.skaters figure.skaters-left div.skaters-top figure.skater2 {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 47.58542%; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater2:last-child {
          margin-right: 0; }
        main section.skaters figure.skaters-left div.skaters-top figure.skater2 p {
          margin: 80px auto; }
    main section.skaters figure.skaters-left figure.skater3 {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      main section.skaters figure.skaters-left figure.skater3:last-child {
        margin-right: 0; }
  main section.skaters figure.skater4 {
    position: absolute;
    margin-left: 52.5%;
    margin-top: 236px;
    float: right;
    clear: both;
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    main section.skaters figure.skater4:last-child {
      margin-right: 0; }
    main section.skaters figure.skater4 p {
      margin: 80px auto; } }

@media (max-width: 907px) {
  div.wrapper {
    margin: 0 10%; }
  header a.subscribe,
  header a.ellipsis {
    font-size: .8em; }
  header nav.social a {
    font-size: 2em;
    padding-top: 10px;
    padding-right: 0; }
  header nav.main {
    font-size: .8em; }
    header nav.main a {
      padding: 10px 0; }
  main section.skaters p {
    font-size: 2em; }
  main section.skaters figure.skaters-left div.skaters-top figure.skater1 {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    main section.skaters figure.skaters-left div.skaters-top figure.skater1:last-child {
      margin-right: 0; }
    main section.skaters figure.skaters-left div.skaters-top figure.skater1 p {
      margin: 80px auto; }
  main section.skaters figure.skater4 {
    margin-top: 220px; } }

@media (max-width: 818px) {
  main section.articles {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    main section.articles:last-child {
      margin-right: 0; }
    main section.articles article {
      padding: 10px 30px;
      margin: 10px 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main section.articles article:last-child {
        margin-right: 0; }
      main section.articles article button {
        display: block;
        margin: 0 auto;
        padding: 0 0 10px 0; }
  main section.skaters-m {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: block; }
    main section.skaters-m:last-child {
      margin-right: 0; }
    main section.skaters-m figure {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin: 0 auto;
      text-align: center;
      float: left;
      width: 50%;
      margin: 10px 0;
      border: 5px solid white; }
      main section.skaters-m figure:last-child {
        margin-right: 0; }
      main section.skaters-m figure p {
        color: white;
        font-size: 1.8em;
        text-transform: uppercase;
        margin: 80px auto; }
    main section.skaters-m figure.skater-1 {
      background: url("../images/sk8er-4.png") no-repeat; }
    main section.skaters-m figure.skater-2 {
      background: url("../images/sk8er-3.png") no-repeat; }
    main section.skaters-m figure.skater-3 {
      background: url("../images/sk8er-1.png") no-repeat; }
    main section.skaters-m figure.skater-4 {
      background: url("../images/sk8er-2.png") no-repeat; }
  footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    footer:last-child {
      margin-right: 0; }
    footer section.contact {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      width: 100%;
      text-align: center; }
      footer section.contact:last-child {
        margin-right: 0; }
      footer section.contact nav.footer {
        text-align: center; }
    footer section.form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      width: 100%; }
      footer section.form:last-child {
        margin-right: 0; }
      footer section.form form.subscribe input.submit {
        float: none;
        margin: 0 auto; } }
